body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #FFFFFF;

}

.cabeca {
    position: absolute;
    width: 1440px;
    height: 160px;
    left: 0px;
    top: 46px;
    background: #1B830A;

}

.menu{
    background: #1B830A;

}

.secao1{
    background: #1B830A;
}

.secao1{
    background: #1B830A;
}


.rodepe{
    background: #1B830A;
}

